<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->

    <title>Title</title>
</head>
<body>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Write a message</h1>

            <form th:action="@{/addMessage}" th:object="${message}" method="post">

                <div class="form-group">
                    <label for="message" class="control-label">Message content</label>
                    <textarea cols="50" rows="8" id="message" th:field="*{message}"></textarea>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"> Send now </button>
                </div>

                <div class="form-group">
                    <input type="button" value="Back to your panel" onclick="window.location.href='userPanel'">
                </div>

            </form>
        </div>
    </div>
</div>

</body>

</html>