<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <!--    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}"/>-->
    <!--    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css}"/>-->

    <title>Title</title>
</head>
<body>

<h3>Welcome in project creation panel!</h3>
<br>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Add new project</h1>
            <form th:action="@{/addNewProject}" th:object="${project}" method="post">

                <div class="form-group">
                    <label for="projectName" class="control-label">Project Name</label>
                    <input id="projectName" th:field="*{name}"/>
                </div>

                <div class="form-group">
                    <label for="projectDescription" class="control-label">Project Description</label>
                    <input id="projectDescription"
                           class="form-control"
                           th:field="*{description}"/>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success"> Submit</button>
                </div>

                <div class="form-group">
                    <input type="button" value="Back to your panel" onclick="window.location.href='userPanel'">
                </div>

            </form>
        </div>
    </div>
</div>

</body>

</html>
