<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>New sprint</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Add new sprint</h1>
            <form th:action="@{/addNewSprint}" th:object="${sprint}" method="post">

                <div class="form-group">
                    <label for="storyPoints" class="control-label">Story points</label>
                    <input type="number" id="storyPoints"
                           class="form-control"
                           th:field="*{storyPoints}" />
                    <span th:text="${invalidStoryPoints}" th:unless="${invalidStoryPoints == null}"></span>
                </div>

                <div class="form-group">
                    <label for="dateFrom" class="control-label">Date from</label>
                    <input type="date" id="dateFrom"
                           class="form-control"
                           th:field="*{dateFrom}"/>
                    <span th:text="${invalidStartDate}" th:unless="${invalidStartDate == null}"></span>
                </div>

                <div class="form-group">
                    <label for="dateTo" class="control-label">Date to</label>
                    <input type="date" id="dateTo"
                           class="form-control"
                           th:field="*{dateTo}"/>
                    <span th:text="${invalidFinishDate}" th:unless="${invalidFinishDate == null}"></span>
                </div>

                <div class="form-group">
                    <button type="submit" class="btn btn-success">Create sprint</button>
                </div>
            </form>
        </div>
    </div>
</div>




</body>
</html>