<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Edit sprint</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .center {
            margin: auto;
            width: 60%;
            border: 3px solid #05ad1d;
            padding: 10px;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">

</head>
<body>

<div class="center">
    <p> Please select tasks to be included in sprint <span id="sprintID" th:text="${sprint.getId()}"></span> <br>
        Sprint start date: <span th:text="${sprint.getDateFrom()}"></span> <br>
        Sprint end date: <span th:text="${sprint.getDateTo()}"></span> <br><br>

        Sprint Storypoints Capacity: <span id="capacity" th:text="${sprint.getStoryPoints()}"></span><br>
        Storypoints remaining to allocate: <b id="remainingStorypoints"></b>
    </p>
</div>

<div class="center">
    <div>Available Tasks:</div>
    <ul id=availableTasks class="list-group" th:each="task : ${availableTasks}" style="list-style-type:none;">
        <!--by default the <li> list element is visible, but it will be hidden when the remainingStoryPointsCheck function is triggered-->
        <li th:id="'avTask' + ${task.id}">
            <!--triggers remainingStoryPointsCheck function to hide the <li> element in available tasks <ul> list and unhide in selected tasks <ul> list-->
            <button type="button" name="addItem" th:value="${task.storyPoints}"
                    th:onclick="'moveToSelected(\'' + 'avTask' + ${task.id} +'\')'"> ADD to Sprint
            </button>
            <label th:text="'StoryPoints: ' + ${task.storyPoints} + ' / Task Name: ' + ${task.name}">Name</label>
        </li>
    </ul>
    <ul class="list-group" th:each="task : ${selectedTasks}" style="list-style-type:none;">
        <li class="li" th:id="'avTask' + ${task.id}" style="display:none">
            <button type="button" name="addItem" th:value="${task.storyPoints}"
                    th:onclick="'moveToSelected(\'' + 'avTask' + ${task.id} +'\')'"> ADD to Sprint
            </button>
            <label th:text="'StoryPoints: ' + ${task.storyPoints} + ' / Task Name: ' + ${task.name}">Name</label>
        </li>
    </ul>
</div>

<!--below div is not a visible element for the user, it's purpose is only to trigger a js script on window load that updates selTasksIdsFromDb array (js variable) with taskId's included in ${selectedTasks}-->
<div id="selTasksFromDb">
    <div th:each="task : ${selectedTasks}">
        <span class="span" th:id="${task.id}"></span>
    </div>
</div>
Gdy klikne remove i save to oczekuję że pole isAssignedToSprint w Task zmieni się na False
<div class="center">
    <form id="selectedTasksForm" th:object="${availableTasks}" method="post">
        <div>Task added to Sprint:</div>
        <ul class="list-group" th:each="task : ${selectedTasks}" style="list-style-type:none;">
            <li class="li" th:id="'selTask' + ${task.id}">
                <button type="button" name="addItem" th:value="${task.storyPoints}"
                        th:onclick="'moveToAvailable(\'' + 'selTask' + ${task.id} +'\')'"> REMOVE
                </button>
                <label th:text="'StoryPoints: ' + ${task.storyPoints} + ' / Task Name: ' + ${task.name}">Name</label>
            </li>
        </ul>
        <ul id=selectedTasks class="list-group" th:each="task : ${availableTasks}" style="list-style-type:none;">
            <!--by default the <li> list element is hidden, but it will be made visible when the remainingStoryPointsCheck function is triggered,
            and it will be hidden again if the moveToAvailable function is triggered-->
            <li class="li" th:id="'selTask' + ${task.id}" style="display:none">
                <!--triggers moveToAvailable function to hide the <li> element in selected tasks <ul> list and unhide in available tasks <ul> list-->
                <button type="button" name="addItem" th:value="${task.storyPoints}"
                        th:onclick="'moveToAvailable(\'' + 'selTask' + ${task.id} +'\')'"> REMOVE
                </button>
                <label th:text="'StoryPoints: ' + ${task.storyPoints} + ' / Task Name: ' + ${task.name}">Name</label>
            </li>
        </ul>
        <input id="submit" type="submit" name="save" value="Save">
    </form>
</div>

<script>
    let remainingStoryPointsVar = 0;
    let selTasksArray = [];
    let sprintID = 0;
    let selTasksArrayFromDb = [];

    window.onload = function () {
        remainingStoryPointsVar = document.getElementById("capacity").innerHTML.valueOf();
        sprintID = document.getElementById("sprintID").innerText.valueOf();
        updateRemainingStoryPointsField();
        addToSelTasksArrayFromDb();
    };

    document
        .getElementById("selectedTasksForm")
        .addEventListener("submit", (event) => {
            event.preventDefault(); /*prevents form from being submitted*/
            addSelectedTaskIDsToArray(); /*triggers this function instead*/
        });

    function addToSelTasksArrayFromDb() {
        let spanElements = document.getElementById("selTasksFromDb").getElementsByClassName("span");
        for (let i = 0; i < spanElements.length; i++) {
            selTasksArrayFromDb.push(spanElements[i].id)
        }
    }

    /*checks which tasks(li items) are visible in selectedTasks (ul list) and adds their taskID's into
     selTasksIdsForAjax variable which is later passed in JSON to the java rest controller via ajax post request*/
    function addSelectedTaskIDsToArray() {
        let liElements = document.getElementById("selectedTasksForm").getElementsByClassName("li");
        for (let i = 0; i < liElements.length; i++) {
            if (liElements[i].attributes[2].value === "display: inline;") {
                selTasksArray.push(liElements[i].id.substr(7)); /*substring from id="'selTask' + ${task.id}" start from position 7, for example "selTask5" => 5*/
            }
        }
        fireAjax();
    }

    function moveToSelected(avTaskLiId) {
        if (remainingStoryPointsVar - Number(document.activeElement.attributes[2].value) < 0) { /*value of the active element (button that triggers the function (attributes: {0: type, 1: name, 2: value, ...})); th:value="${task.storyPoints}*/
            // Can not add this task anymore because maximum number of Storypoints in sprint is exceeded with this selected task
            alert("can not add this task anymore! (too many storypoints!)");
        } else {
            // proceed to add task to selectedTasks and update the remainingStorypoints field (reduce by the storypoints from this task)
            remainingStoryPointsVar -= Number(document.activeElement.attributes[2].value);
            updateRemainingStoryPointsField();

            document.getElementById(avTaskLiId).style.display = "none"; /*hides the <li> list element in availableTasks <ul> list*/
            let selTaskLiId = avTaskLiId.replace("avTask", "selTask");
            document.getElementById(selTaskLiId).style.display = "inline"; /*unhides the <li> list element in selectedTasks <ul> list*/
        }
    }

    function moveToAvailable(selTaskLiId) {
        /* update the remainingStorypoints field (increase by the storypoints from this task)*/
        remainingStoryPointsVar += Number(document.activeElement.attributes[2].value);  /*value of the active element (button that triggers the function (attributes: {0: type, 1: name, 2: value, ...})); th:value="${task.storyPoints}*/
        updateRemainingStoryPointsField();

        document.getElementById(selTaskLiId).style.display = "none"; /*hides the <li> list element in selectedTasks <ul> list*/
        let avTaskLiId = selTaskLiId.replace("selTask", "avTask");
        document.getElementById(avTaskLiId).style.display = "inline"; /*unhides the <li> list element in availableTasks <ul> list*/
    }

    function updateRemainingStoryPointsField() {
        document.getElementById("remainingStorypoints").innerHTML = remainingStoryPointsVar;
    }

    function fireAjax() {
        let myJson = {};
        myJson["taskIDs"] = selTasksArray;
        myJson["sprintID"] = sprintID;

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/allocateTasks", // enter the url to be intercepted by java controller
            data: JSON.stringify(myJson),
            /*dataType : 'json',*/  // only needed if expecting json response from controller
            timeout: 100000,
            success: function (response) {
                alert(response)
            }
        });

        /*        AJAX STRUCTURE
                1. An event occurs in a web page (the page is loaded, a button is clicked)
                2. An XMLHttpRequest object is created by JavaScript
                3. The XMLHttpRequest object sends a request to a web server
                4. The server processes the request
                5. The server sends a response back to the web page
                6. The response is read by JavaScript
                7. Proper action (like page update) is performed by JavaScrip*/
    }

</script>

<!--
    https://stackoverflow.com/questions/20982683/spring-mvc-3-2-thymeleaf-ajax-fragments
    https://stackoverflow.com/questions/20245544/how-to-pass-json-object-from-ajax-to-spring-mvc-controller?fbclid=IwAR01cWzGQEtTxLxNZlD46SWvrhrP8FGHg_HlpZ14Ugdjw2tJGXkaO3N6LtQ
-->

</body>
</html>

