<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>

    <title>Edit sprint</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .center {
            margin: auto;
            width: 60%;
            /*border: 3px solid #05ad1d;*/
            padding: 10px;
        }

        .list_group-properties {
            width: 40%
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">

</head>

<body>

<div class="center">
    <p> Please select tasks to be included in sprint <span id="sprintId" th:text="${sprint.getId()}"></span> <br>
        Sprint start date: <span th:text="${sprint.getDateFrom()}"></span> <br>
        Sprint end date: <span th:text="${sprint.getDateTo()}"></span> <br><br>

        Sprint Storypoints Capacity: <span id="capacity" th:text="${sprint.getStoryPoints()}"></span><br>
        Storypoints remaining to allocate: <b id="remainingStorypoints"></b> <br><br>

        <button id="SaveSelectionBtn">Save Selection</button>
    </p>
</div>

<div class="center">

    <div id="availableTasks" class="list-group left list_group-properties">
 <!-- <span class="list-group-item-primary">-->
        <span class="badge-primary">
    <span class="list-group-item-heading">Available Tasks</span>
  </span>
        <div th:id="${task.id}" th:each="task : ${availableTasks}" class="list-group-item">
                <h4 class="list-group-item-heading" th:text="${task.name}"></h4>
                <span class="badge badge-primary badge-pill"
                      th:utext="'&lt;strong&gt;' + 'Storypoints: ' + '&lt;/strong&gt;' + ${task.storyPoints}"></span>
                <button th:id="'btn' + ${task.id}" th:onclick="'moveToSelT(' + ${task.id} +')' ">Add me</button>
        </div>
    </div>

    <div id="selectedTasks" class="list-group right list_group-properties">
  <!--   <span class="list-group-item-success">-->
        <span class="badge-success">
    <span class="list-group-item-heading">Selected Tasks</span>
  </span>
        <div th:id="${task.id}" th:each="task : ${selectedTasks}" class="list-group-item">
                <h4 class="list-group-item-heading" th:text="${task.name}">TITLE3</h4>
                <span class="badge badge-success badge-pill"
                      th:utext="'&lt;strong&gt;' + 'Storypoints: ' + '&lt;/strong&gt;' + ${task.storyPoints}"></span>
                <button th:id="'btn' + ${task.id}" th:onclick="'moveToAvlT(' + ${task.id} +')' ">Remove me</button>
        </div>
    </div>

</div>


<!--https://memorynotfound.com/dynamically-addremove-items-list-javascript/-->

</div>

<script>
    let remainingStoryPoints = 0;
    let sprintId = 0;
    let selTasksIdsForAjax = [];

    window.onload = function () {
        remainingStoryPoints = document.getElementById("capacity").innerHTML.valueOf();
        sprintId = document.getElementById("sprintId").innerText.valueOf();
        remainingStoryPointsUpdate();
    };

    document
        .getElementById("SaveSelectionBtn")
        .addEventListener("click", collectSelectedTasksIdsIntoArray);

    function moveToSelT(taskID) {
        remainingStoryPointsCheck(taskID);
        let mainDivAvT = document.getElementById("availableTasks");
        let divToRmv = document.getElementById(taskID);
        let divToAdd = divToRmv;
        let btnId = "btn" + taskID;
        let btn = document.getElementById(btnId);
        btn.setAttribute("onclick", "moveToAvlT(" + taskID + ")");
        btn.innerHTML = "Remove me";
        mainDivAvT.removeChild(divToRmv);
        let mainDivSelT = document.getElementById("selectedTasks");
        mainDivSelT.appendChild(divToAdd);
    }

    function moveToAvlT(taskID) {
        let mainDivSelT = document.getElementById("selectedTasks");
        let divToRmv = document.getElementById(taskID);
        let divToAdd = divToRmv;
        let btnId = "btn" + taskID;
        let btn = document.getElementById(btnId);
        btn.setAttribute("onclick", "moveToSelT(" + taskID + ")");
        btn.innerHTML = "Add me";
        mainDivSelT.removeChild(divToRmv);
        let mainDivAvlT = document.getElementById("availableTasks");
        mainDivAvlT.appendChild(divToAdd);
    }

    function collectSelectedTasksIdsIntoArray() {
        let children = document.getElementById("selectedTasks").getElementsByClassName("list-group-item");
        for (let i = 0; i < children.length; i++) {
            let child = children[i];
            selTasksIdsForAjax.push(child.attributes[0].value) // attribute[0] is the id of each child element
        }}

/*    function remainingStoryPointsCheck(taskId) {
        if (remainingStoryPoints - Number(document.activeElement.attributes[2].value) < 0) { /!*value of the active element (button that triggers the function (attributes: {0: type, 1: name, 2: value, ...})); th:value="${task.storyPoints}*!/
            // Can not add this task anymore because maximum number of Storypoints in sprint is exceeded with this selected task
            alert("can not add this task anymore! (too many storypoints!)");
        } else {
            // proceed to add task to selectedTasks and update the remainingStorypoints field (reduce by the storypoints from this task)
            remainingStoryPoints -= Number(document.activeElement.attributes[2].value);
            remainingStoryPointsUpdate();

            document.getElementById(avTaskLiId).style.display = "none"; /!*hides the <li> list element in availableTasks <ul> list*!/
            let selTaskLiId = avTaskLiId.replace("avTask", "selTask");
            document.getElementById(selTaskLiId).style.display = "inline"; /!*unhides the <li> list element in selectedTasks <ul> list*!/
        }*/
    }

    function moveToAvailable(selTaskLiId) {
        /* update the remainingStorypoints field (increase by the storypoints from this task)*/
        remainingStoryPoints += Number(document.activeElement.attributes[2].value);  /*value of the active element (button that triggers the function (attributes: {0: type, 1: name, 2: value, ...})); th:value="${task.storyPoints}*/
        remainingStoryPointsUpdate();

        document.getElementById(selTaskLiId).style.display = "none"; /*hides the <li> list element in selectedTasks <ul> list*/
        let avTaskLiId = selTaskLiId.replace("selTask", "avTask");
        document.getElementById(avTaskLiId).style.display = "inline"; /*unhides the <li> list element in availableTasks <ul> list*/
    }

    function remainingStoryPointsUpdate() {
        document.getElementById("remainingStorypoints").innerHTML = remainingStoryPoints;
    }

    function fireAjax() {
        let myJson = {};
        myJson["taskIDs"] = selTasksIdsForAjax;
        myJson["sprintId"] = sprintId;

        $.ajax({
            type: "POST",
            contentType: "application/json",
            url: "/allocateTasks", // enter the url to be intercepted by java controller
            data: JSON.stringify(myJson),
            /*dataType : 'json',*/  // only needed if expecting json response from controller
            timeout: 100000,
            success: function (response) {
                alert(response)
            }
        })
    }

        /*        AJAX STRUCTURE
                1. An event occurs in a web page (the page is loaded, a button is clicked)
                2. An XMLHttpRequest object is created by JavaScript
                3. The XMLHttpRequest object sends a request to a web server
                4. The server processes the request
                5. The server sends a response back to the web page
                6. The response is read by JavaScript
                7. Proper action (like page update) is performed by JavaScrip*/


</script>

<!--
    https://stackoverflow.com/questions/20982683/spring-mvc-3-2-thymeleaf-ajax-fragments
    https://stackoverflow.com/questions/20245544/how-to-pass-json-object-from-ajax-to-spring-mvc-controller?fbclid=IwAR01cWzGQEtTxLxNZlD46SWvrhrP8FGHg_HlpZ14Ugdjw2tJGXkaO3N6LtQ
-->

</body>
<head>

    <title>Edit sprint</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

    <style>
        .center {
            margin: auto;
            width: 60%;
            /*border: 3px solid #05ad1d;*/
            padding: 10px;
        }

        .list_group-properties {
            width: 40%
        }

        .left {
            float: left;
        }

        .right {
            float: right;
        }
    </style>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <meta charset="UTF-8">

</head>
</html>

