<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<p>Current date: <a th:text="${#dates.format(#dates.createNow(), 'dd MMM yyyy HH:mm')}"></a></p>
</body>
</html>