<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:layout="index">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Welcome!</h1>
<a th:href="@{/login}"> Log In >> </a><br>
<a th:href="@{/registerNewUser}"> Register new user >> </a>

</body>
</html>
