<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Invite user</title>
</head>
<body>

<h2>You invited user "<span th:text="${invitedUser.getUserName()}"></span>
    " to project "<span th:text="${actualProject.getName()}"></span>"</h2>

<div class="form-group">
    <input type="button" value="Back to your panel" onclick="window.location.href='/userPanel'">
</div>

</body>
</html>