<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Log in</title>
</head>
<body>
<div class="container">

            <h1>Log in</h1>
    <div>
            <form th:action="@{/login}" method="POST">

                <div class="form-group">
                    <label class="control-label">Login</label>
                    <input id="username"
                           name ="username"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           name="password"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Log in</button>
                </div>
                <div class="form-group">
                    <input type="button" value="Back to homepage" onclick="window.location.href='home'">
                </div>
                <div class="form-group">
                    <span>New user? <a href="/" th:href="@{/registerNewUser}">Register here</a></span>
                </div>
            </form>
    </div>
        </div>

</body>
</html>