<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Message view</title>
</head>
<body>
<p th:text="'Message from ' + ${message.getSender().getUserName()} + ':'"></p>

<p th:text="${message.getMessage()} + ' (' + ${message.sendedDate} + ')'"></p>

<div class="form-group">
    <input type="button" value="Back to your projects" onclick="window.location.href='/userProjects'">
</div>

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='/home'">
</div>

</body>
</html>