<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Project Team Members</title>
</head>
<body>

<h2>All users in actual project:</h2>

<p th:each="user : ${projectTeamMembers}" th:text="${user.getProjectMember().getUserName()}"></p>

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='home'">
</div>

<div class="form-group">
    <input type="button" value="Back to your panel" onclick="window.location.href='userPanel'">
</div>

</body>
</html>