<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Your project</title>
</head>
<body>

<h2>Welcome in project "<span th:text="${project.getName()}"></span>"</h2>

<div class="form-group">
    <span><a href="/" th:href="@{'/tasks/' + ${project.getId()}}">All tasks</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/userTasks}">Your tasks</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/addNewTask}">Create new task</a></span>
</div>




<div class="form-group">
    <span><a href="/" th:href="@{/addNewSprint}">Create new sprint</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/editSprint}">Edit actual sprint</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/editProject}">Edit project</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/projectTeamMembers}">Show members</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/usersToInvite}">Invite users</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/sprints}">Ended sprints</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/sprintView}">Actual sprints details</a></span>
</div>

<div class="form-group">
    <input type="button" value="Back to your projects" onclick="window.location.href='/userProjects'">
</div>

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='/home'">
</div>

</body>
</html>