<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Registration</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">

            <h1>Registration</h1>
            <form th:action="@{/registerNewUser}" th:object="${user}" method="post">

                <div class="form-group">
                    <label for="userName" class="control-label">User name</label>
                    <input id="userName" th:field="*{userName}"/>
                </div>
                <div class="form-group">
                    <label for="login" class="control-label">Login</label>
                    <input id="login"
                           class="form-control"
                           th:field="*{login}"/>
                </div>
                <div class="form-group">
                    <label for="email" class="control-label">E-mail</label>
                    <input id="email"
                           class="form-control"
                           th:field="*{email}"/>
                </div>
                <div class="form-group">
                    <label for="password" class="control-label">Password</label>
                    <input id="password"
                           class="form-control"
                           type="password"
                           th:field="*{password}"/>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn btn-success">Register</button>
                    <span>Already registered? <a href="/" th:href="@{/login}">Login here</a></span>
                </div>

            </form>
        </div>
    </div>
</div>

</body>
</html>
