<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome in your sprint!</title>
</head>
<body>

<h2>Your sprint id is: ... <span th:text="${sprint.getId()}"></span></h2>

<h2>All tasks in Sprint:</h2>

<p th:each="task : ${sprint.tasks}"
   th:text="${task.getName()}">
</p>

<div class="form-group">
    <input type="button" value="Edit sprint" th:onclick="'window.location.href = \'' + '/editSprint/' + ${sprint.getId()} + '\''">
</div>

</body>
</html>