<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Tasks</title>
</head>
<body>

<h2>All tasks:</h2>

<p th:each="task : ${tasksList}" th:utext="${task.getName()}"></p>
    <!-- <p th:each="task : ${tasksList}" th:utext="${task.getName()} + ' // owner: ' + ${task.getOwner()} + ' // status: ' + ${task.getProgress()} + '<br/>'"></p> -->

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='/home'">
</div>

<div class="form-group">
    <input type="button" value="Back to your panel" onclick="window.location.href='/userPanel'">
</div>

</body>
</html>
