<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Task</title>
</head>
<body>

<h2>Welcome in your task <span th:text="${task != null}? ${task.getName()} : 'UNKNOWN!'"></span></h2>

<div class="form-group">
    <span><a href="/" th:href="@{/userTasks}">Back to Your tasks</a></span>
</div>

</body>
</html>