<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User View</title>
</head>
<body>

<h2>Welcome to the <span th:text="${user.getUserName()}"></span> user page</h2>

<div class="form-group">
    <span><a href="/" th:href="@{/addMessage}">Send a message to this user</a></span>
</div>

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='/home'">
</div>

<div class="form-group">
    <input type="button" value="Back to your panel" onclick="window.location.href='/userPanel'">
</div>

</body>
</html>