<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Your messages</title>
</head>
<body>

<h2>All your messages:</h2>

<a th:href="@{'/messageView/' + ${message.id}}" th:each="message : ${userMessages}">
    <p th:text="${message.getSender().getUserName()}"></p></a>

<div class="form-group">
    <input type="button" value="Back to homepage" onclick="window.location.href='home'">
</div>

<div class="form-group">
    <input type="button" value="Back to your panel" onclick="window.location.href='userPanel'">
</div>

</body>
</html>