<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>User panel</title>
</head>
<body>

<h2>Welcome <span th:text="${loggedInUser.getUserName()}"></span></h2>

<div class="form-group">
    <span><a href="/" th:href="@{/projects}">All projects</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/userProjects}">Your projects</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/userTasks}">Your tasks</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/addNewProject}">Create new project</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/users}">Users</a></span>
</div>

<div class="form-select-button">
    <span><a href="/" th:href="@{/addNewSprint}"> Create new sprint </a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/editUser}">Your details</a></span>
</div>

<div class="form-group">
    <span><a href="/" th:href="@{/userMessages}">Your messages</a></span>
</div>

<div class="form-group">
    <span><form th:action="@{/logout}" method="post"> <input type="submit" value="Log out"/></form></span>
</div>

</body>
</html>